Repository filecoin-project/rust-fil-proofs, pull requests merged in 2019-08, with the labels that each got.

#800 feat(profile): add Dockerfile to profile CPU of zigzag example
  Dockerfile-profile
  README.md
Labels: perf

#794 feat(storage-proofs): test Feistel permutation for collisions
  storage-proofs/src/zigzag_graph.rs
Labels: A-storage-proofs, tests

#796 Disk-only MT
  storage-proofs/Cargo.toml
  storage-proofs/src/drgraph.rs
  storage-proofs/src/layered_drgporep.rs
  storage-proofs/src/merkle.rs
Labels: A-storage-proofs, perf-memory

#833 fix(storage-proofs): always use temporary files for MTs
  README.md
  storage-proofs/Cargo.toml
  storage-proofs/src/drgraph.rs
  storage-proofs/src/layered_drgporep.rs
Labels: A-storage-proofs

#844 feat(fil-proofs-tooling): add logging to the benchy command
  fil-proofs-tooling/Cargo.toml
  fil-proofs-tooling/src/bin/benchy/main.rs
  fil-proofs-tooling/src/bin/benchy/zigzag.rs
Labels: A-benchmarks
